doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title 
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/index.js')
    body 
        block content
            a(href='/admin/add/account') New account
            br
            table
                tr 
                    th Username
                    th Full name
                    th Role
                    th Action
                - each item in list 
                    tr
                        td=item.username
                        td=item.name
                        td=item.role
                        td 
                            a(href=`/admin/delete/account/${item._id}`) Delete
                            br
                            a(href=`/admin/update/account/${item._id}`) Update
        block footer 
            a(href='/admin') Back
