doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title 
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/index.js')
    body 
        block content 
            form(action=`/admin/update/account/${id}`, method="put")
                table 
                    tr
                        th Username
                        td=username
                    tr
                        th Role
                        td
                            select(name="role", onchange='showFaculty()', id='role', required)
                                option(value="None", disabled="true") --Choose a Role--
                                option(value="Administrator") Administrator
                                option(value="Manager") Manager
                                option(value="Coordinator") Coordinator
                                option(value="Student") Student
                                option(value="Guest") Guest
                    if (role == "Administrator" || role == "Manager")
                        tr(style="display:none", id='faculty')
                    else 
                        tr(id='faculty')
                            th Faculty
                            td
                                input(type="text", name="faculty", placeholder="Faculty", value=`${faculty}`)
                    tr
                        th First name
                        td 
                            input(type="text", name="firstname", placeholder="First Name", value=`${firstname}`)
                    tr
                        th Middle name
                        td 
                            input(type="text", name="middlename", placeholder="Middle Name", value=`${middlename}`)
                    tr
                        th Last name
                        td 
                            input(type="text", name="lastname", placeholder="Last Name", value=`${lastname}`)
                    tr
                        th Email
                        td 
                            input(type="email", name="email", placeholder="Email", value=`${email}`)
                    tr
                        th Last name
                        td 
                            input(type="tel", name="phone", placeholder="Phone: 10 numbers", value=`${phone}`)
                    tr
                        td(spancol=2)
                            button(type="submit") Update
        block footer 
            a(href='/admin/account') Back